
proxy_cache_path  {{proxy_cache_path}} levels=1 keys_zone=cached:10m;
server {
  listen {{proxy_listen_port}} ssl;
	
	ssl_certificate         {{ ssl_directory }}/slice.pem;
	ssl_certificate_key     {{ ssl_directory }}/slice.key;
	ssl_trusted_certificate {{ ssl_directory }}/slice.pem;

  {% for header in proxy_set_header %}
		proxy_set_header                  {{ header }};
	{% endfor %}
	{% for header in proxy_hide_header %}
		proxy_hide_header                  {{ header }};
	{% endfor %}

  location {{ endpoints.internal }} {
    allow {{allow_ip}};
    deny all;
    proxy_pass {{ hostname }}{{ endpoints.internal }};
  }

  location {{ endpoints.cached }} {
    proxy_cache cached;
		proxy_cache_use_stale updating;
		proxy_cache_lock on;
		proxy_cache_valid any 30s;
		proxy_pass {{ hostname }}{{ endpoints.cached }};
  }
  location {{ endpoints.external }} {
    limit_except GET { deny all; }
    proxy_pass {{ hostname }}{{ endpoints.external }};
  }
  location / {
		autoindex off;
		deny all;
		return 403;
  }
}
